<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="http://EC2AMAZ-JKCOMCR:5556">cfa45722-e87d-4da9-843f-270b7a21c571</value>
    <value name="http://tmsdatahub.softwareag-gs.com:5556">9deaf434-26b3-4118-bcb7-adaf105302b0</value>
  </record>
</IDataXMLCoder>
